<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    
    <script src="https://kit.fontawesome.com/386b3da413.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@lyket/widget@latest/dist/lyket.js?apiKey=pt_a05f0a5d34def6727f57a7e7d65310&disableSessionId"></script>
  </body>

</html>
